/*  your css code here. If applicable */
.container{
	min-height:200px;
	width:100%;
	padding:10px;
	background-color:#f5f5f5;
}
.testimonial{
	min-height:50px;
	width:80%;
	padding:10px;
	background:#fff;
	margin:10px;
	border:2px solid lightgray;
	border-radius:5px;
}
.a{
	text-align:right;
	padding-right:10px;
	font-style:italic;
}



